<div class="col-md-12 title">{{gene}}</div>

<div class="col-md-12 process">{{process}}</div>

<div class="col-md-12 function">{{gene_function}}</div>

<div class="col-md-12 miniTitle" style="font-weight: 700;">
    Up-regulated sample:
</div>
<div class="col-md-9 miniTitle">
&emsp;No. of sample
</div>
                
<div class="col-md-3">{{upfreq}}</div>

<div class="col-md-9 miniTitle">
&emsp;Mean Log2 Fold Change
</div>
                
<div class="col-md-3">{{uplog2}}</div>

<div class="col-md-12 miniTitle" style="font-weight: 700;">
    Down-regulated sample:
</div>
<div class="col-md-9 miniTitle">
&emsp;No. of sample
</div>
                
<div class="col-md-3">{{downfreq}}</div>

<div class="col-md-9 miniTitle">
&emsp;Mean Log2 Fold Change 
</div>
                
<div class="col-md-3">{{downlog2}}</div>
<hr>
<div class="col-md-9 miniTitle" style="font-weight: 700;">
    No. of mutation data
</div>
                
<div class="col-md-3">{{mutation}}</div>